name: Continuous Integration

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  pull-requests: read

jobs:
  test-action:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v5
        with:
          path: test-action
          persist-credentials: false

      - name: Test Local Action (A)
        id: added
        uses: ./test-action
        with:
          added: true

      - name: Test Local Action (D)
        id: deleted
        uses: ./test-action
        with:
          deleted: true

      - name: Test Local Action (M)
        id: modified
        uses: ./test-action
        with:
          modified: true

      - name: Test Local Action (R)
        id: renamed
        uses: ./test-action
        with:
          renamed: true

      - name: Test
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ADDED_FILES: ${{ steps.added.outputs.files }}
          DELETED_FILES: ${{ steps.deleted.outputs.files }}
          MODIFIED_FILES: ${{ steps.modified.outputs.files }}
          RENAMED_FILES: ${{ steps.renamed.outputs.files }}
        run: |
          gh pr diff -R ${{ github.repository }} --name-only ${{ github.event.number }} | sort | tee expected.txt
          cat << 'EOS' | awk 'NF' | sort | tee output.txt
          ${{ env.ADDED_FILES }}
          ${{ env.DELETED_FILES }}
          ${{ env.MODIFIED_FILES }}
          ${{ env.RENAMED_FILES }}
          EOS
          diff expected.txt output.txt

  test-type:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Deleted Only (list deleted)
            pr: 2
            deleted: true
            count: 1
            expected: |-
              .markdown-lint.yml
          - name: Deleted Only (list added/modified/renamed)
            pr: 2
            deleted: false
            count: 0
            expected: ""
          - name: Added Only (list added)
            pr: 3
            added: true
            count: 1
            expected: |-
              test
          - name: Added Only (list deleted/modified/renamed)
            pr: 3
            added: false
            count: 0
            expected: ""
          - name: Added and Deleted (list added)
            pr: 22
            added: true
            count: 1
            expected: |-
              test2
          - name: Added and Deleted (list deleted)
            pr: 22
            deleted: true
            count: 1
            expected: |-
              test
          - name: Added and Deleted (list added/deleted)
            pr: 22
            added: true
            deleted: true
            count: 2
            expected: |-
              test
              test2
          - name: Added and Deleted (list modified/renamed)
            pr: 22
            added: false
            deleted: false
            count: 0
            expected: ""
          - name: Renamed Only (list renamed)
            pr: 18
            renamed: true
            count: 1
            expected: |-
              test2
          - name: Renamed Only (list added/deleted/modified)
            pr: 18
            renamed: false
            count: 0
            expected: ""
          - name: No Changes (list modified)
            pr: 4
            modified: true
            count: 0
            expected: ""
          - name: No Changes (list added/deleted/renamed)
            pr: 4
            modified: false
            count: 0
            expected: ""
          - name: Empty File Deleted Only (list deleted)
            pr: 6
            added: false
            deleted: true
            modified: false
            renamed: false
            count: 1
            expected: |-
              test
    name: test-action - ${{ matrix.name }}
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Test Local Action
        id: test-action
        uses: ./
        with:
          pull_request: ${{ matrix.pr }}
          added: ${{ matrix.added }}
          deleted: ${{ matrix.deleted }}
          modified: ${{ matrix.modified }}
          renamed: ${{ matrix.renamed }}

      - name: Test
        env:
          TEST_ACTION_OUTPUTS: ${{ toJson(steps.test-action.outputs) }}
          TEST_ACTION_FILES: ${{ steps.test-action.outputs.files }}
          TEST_ACTION_COUNT: ${{ steps.test-action.outputs.count }}
        run: |
          cat << 'EOS' | tee expected.txt
          ${{ matrix.expected }}
          EOS
          cat << 'EOS' | tee output.txt
          ${{ env.TEST_ACTION_FILES }}
          EOS
          diff expected.txt output.txt
          test "${TEST_ACTION_COUNT}" -eq ${{ matrix.count }}

  test-paginate:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Deleted Only (list deleted)
            pr: 15
            deleted: true
            count: 400
          - name: Deleted Only (list added/modified/renamed)
            pr: 15
            deleted: false
            count: 0
          - name: Added Only (list added)
            pr: 11
            added: true
            count: 400
          - name: Added Only (list deleted/modified/renamed)
            pr: 11
            added: false
            count: 0
          - name: Modified Only (list modified)
            pr: 12
            modified: true
            count: 400
          - name: Modified Only (list added/deleted/renamed)
            pr: 12
            modified: false
            count: 0
          - name: Rename Only (list renamed)
            pr: 13
            renamed: true
            count: 400
          - name: Rename Only (list added/deleted/modified)
            pr: 13
            renamed: false
            count: 0

    name: test-paginate - ${{ matrix.name }}
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Test Local Action
        id: test-action
        uses: ./
        with:
          pull_request: ${{ matrix.pr }}
          added: ${{ matrix.added }}
          deleted: ${{ matrix.deleted }}
          modified: ${{ matrix.modified }}
          renamed: ${{ matrix.renamed }}

      - name: Test
        env:
          TEST_ACTION_OUTPUTS: ${{ toJson(steps.test-action.outputs) }}
          TEST_ACTION_FILES: ${{ steps.test-action.outputs.files }}
          TEST_ACTION_COUNT: ${{ steps.test-action.outputs.count }}
        run: |
          test "${TEST_ACTION_COUNT}" -eq ${{ matrix.count }}

  test-filter-and-delimiter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Test Local Action
        id: test-action
        uses: ./
        with:
          pull_request: 5
          filter: '.*(\.yml|\.sh)$'
          delimiter: ','

      - name: Test
        env:
          TEST_ACTION_OUTPUTS: ${{ toJson(steps.test-action.outputs) }}
          TEST_ACTION_FILES: ${{ steps.test-action.outputs.files }}
          TEST_ACTION_COUNT: ${{ steps.test-action.outputs.count }}
        run: |
          echo ".github/workflows/ci.yml,action.yml,run-on-actions.sh" | tee expected.txt
          echo "${TEST_ACTION_FILES}" | tee output.txt
          diff expected.txt output.txt
          test "${TEST_ACTION_COUNT}" -eq 3

  test-exclude:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Test Local Action
        id: test-action
        uses: ./
        with:
          pull_request: 5
          exclude: '.*(\.yml|\.sh)$'

      - name: Test
        env:
          TEST_ACTION_OUTPUTS: ${{ toJson(steps.test-action.outputs) }}
          TEST_ACTION_FILES: ${{ steps.test-action.outputs.files }}
          TEST_ACTION_COUNT: ${{ steps.test-action.outputs.count }}
        run: |
          echo "gh-pr-ls-files" | tee expected.txt
          echo "${TEST_ACTION_FILES}" | tee output.txt
          diff expected.txt output.txt
          test "${TEST_ACTION_COUNT}" -eq 1
